ENVIRONMENT=development
PORT=8000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=greenfield_super_secure_institutional_jwt_secret_key_2026
ADMIN_EMAIL=Admingis@gmail.com
ADMIN_PASSWORD=GIS@admin123
MONGODB_URI=mongodb://azuremongodbdatabase:<PASSWORD>@azuremongodbdatabase.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@azuremongodbdatabase@
MONGODB_DB_NAME=school
